/*--------------------------------------------------------------
# Featured
--------------------------------------------------------------*/

.clientSection {
  position: relative;
  z-index: 2;
}

.clientSection .icon-box {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #fff;
  transition: all ease-in-out 0.3s;
}

.clientSection .icon-box i {
  color: #eeeeee;
  font-size: 42px;
  margin-bottom: 15px;
  display: block;
}

.clientSection .icon-box h3 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
}

.clientSection .icon-box h3 a {
  color: #545454;
  transition: 0.3s;
}

.clientSection .icon-box p {
  color: #545454;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.clientSection .icon-box:hover {
  background: #eeeeee;
}

.clientSection .icon-box:hover i,
.clientSection .icon-box:hover h3 a,
.clientSection .icon-box:hover p {
  color: #fff;
}

