.home-provide-services {
  padding: 40px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background: #fff;
  transition: all ease-in-out 0.3s;
  width: 15%;
  padding: 10px 18px;
}

.home-provide-services:hover {
  background: #e96b56;
  border-color: #e96b56;
}

.home-provide-services-btn {
  font-size: 18px;
  font-weight: 600;
  color: black;
  position: relative;
}

.our-provide-services {
  padding: 9px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15) !important;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  width: 40%;
}

.our-provide-services-btn {
  font-size: 18px;
  font-weight: 600;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.whatsapp-back-to-top {
  position: fixed;
  left: 15px;
  bottom: 15px;
  z-index: 99999;
}

.whatsapp-back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #e96b56;
  color: #fff;
  transition: all 0.4s;
}

.whatsapp-back-to-top i:hover {
  background: #e6573f;
  color: #fff;
}

/*--------------------------------------------------------------
# card Hover Effect
--------------------------------------------------------------*/

.hover-effect-card {
  transition-duration: 1s;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 90%;
}

.hover-effect-card:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  opacity: 1;
}

.card-hover-border:hover {
  border: 1px solid #F13035;
}

.card-border {
  border-radius: 15px;
}

