/*------------- #VARIABLES --------------*/
@media (max-width: 799px) {
    body.crumina-grid .col-sm-1, body.crumina-grid .col-sm-2, body.crumina-grid .col-sm-3, body.crumina-grid .col-sm-4, body.crumina-grid .col-sm-5, body.crumina-grid .col-sm-6, body.crumina-grid .col-sm-7, body.crumina-grid .col-sm-8, body.crumina-grid .col-sm-9, body.crumina-grid .col-sm-10, body.crumina-grid .col-sm-11, body.crumina-grid .col-sm-12 {
        float: left; }
    body.crumina-grid .col-sm-12 {
        width: 100%; }
    body.crumina-grid .col-sm-11 {
        width: 91.66666667%; }
    body.crumina-grid .col-sm-10 {
        width: 83.33333333%; }
    body.crumina-grid .col-sm-9 {
        width: 75%; }
    body.crumina-grid .col-sm-8 {
        width: 66.66666667%; }
    body.crumina-grid .col-sm-7 {
        width: 58.33333333%; }
    body.crumina-grid .col-sm-6 {
        width: 50%; }
    body.crumina-grid .col-sm-5 {
        width: 41.66666667%; }
    body.crumina-grid .col-sm-4 {
        width: 33.33333333%; }
    body.crumina-grid .col-sm-3 {
        width: 25%; }
    body.crumina-grid .col-sm-2 {
        width: 16.66666667%; }
    body.crumina-grid .col-sm-1 {
        width: 8.33333333%; }
    body.crumina-grid .col-sm-pull-12 {
        right: 100%; }
    body.crumina-grid .col-sm-pull-11 {
        right: 91.66666667%; }
    body.crumina-grid .col-sm-pull-10 {
        right: 83.33333333%; }
    body.crumina-grid .col-sm-pull-9 {
        right: 75%; }
    body.crumina-grid .col-sm-pull-8 {
        right: 66.66666667%; }
    body.crumina-grid .col-sm-pull-7 {
        right: 58.33333333%; }
    body.crumina-grid .col-sm-pull-6 {
        right: 50%; }
    body.crumina-grid .col-sm-pull-5 {
        right: 41.66666667%; }
    body.crumina-grid .col-sm-pull-4 {
        right: 33.33333333%; }
    body.crumina-grid .col-sm-pull-3 {
        right: 25%; }
    body.crumina-grid .col-sm-pull-2 {
        right: 16.66666667%; }
    body.crumina-grid .col-sm-pull-1 {
        right: 8.33333333%; }
    body.crumina-grid .col-sm-pull-0 {
        right: auto; }
    body.crumina-grid .col-sm-push-12 {
        left: 100%; }
    body.crumina-grid .col-sm-push-11 {
        left: 91.66666667%; }
    body.crumina-grid .col-sm-push-10 {
        left: 83.33333333%; }
    body.crumina-grid .col-sm-push-9 {
        left: 75%; }
    body.crumina-grid .col-sm-push-8 {
        left: 66.66666667%; }
    body.crumina-grid .col-sm-push-7 {
        left: 58.33333333%; }
    body.crumina-grid .col-sm-push-6 {
        left: 50%; }
    body.crumina-grid .col-sm-push-5 {
        left: 41.66666667%; }
    body.crumina-grid .col-sm-push-4 {
        left: 33.33333333%; }
    body.crumina-grid .col-sm-push-3 {
        left: 25%; }
    body.crumina-grid .col-sm-push-2 {
        left: 16.66666667%; }
    body.crumina-grid .col-sm-push-1 {
        left: 8.33333333%; }
    body.crumina-grid .col-sm-push-0 {
        left: auto; }
    body.crumina-grid .col-sm-offset-12 {
        margin-left: 100%; }
    body.crumina-grid .col-sm-offset-11 {
        margin-left: 91.66666667%; }
    body.crumina-grid .col-sm-offset-10 {
        margin-left: 83.33333333%; }
    body.crumina-grid .col-sm-offset-9 {
        margin-left: 75%; }
    body.crumina-grid .col-sm-offset-8 {
        margin-left: 66.66666667%; }
    body.crumina-grid .col-sm-offset-7 {
        margin-left: 58.33333333%; }
    body.crumina-grid .col-sm-offset-6 {
        margin-left: 50%; }
    body.crumina-grid .col-sm-offset-5 {
        margin-left: 41.66666667%; }
    body.crumina-grid .col-sm-offset-4 {
        margin-left: 33.33333333%; }
    body.crumina-grid .col-sm-offset-3 {
        margin-left: 25%; }
    body.crumina-grid .col-sm-offset-2 {
        margin-left: 16.66666667%; }
    body.crumina-grid .col-sm-offset-1 {
        margin-left: 8.33333333%; }
    body.crumina-grid .col-sm-offset-0 {
        margin-left: 0; } }

@media (max-width: 570px) {
    body.crumina-grid .col-xs-1, body.crumina-grid .col-xs-2, body.crumina-grid .col-xs-3, body.crumina-grid .col-xs-4, body.crumina-grid .col-xs-5, body.crumina-grid .col-xs-6, body.crumina-grid .col-xs-7, body.crumina-grid .col-xs-8, body.crumina-grid .col-xs-9, body.crumina-grid .col-xs-10, body.crumina-grid .col-xs-11, body.crumina-grid .col-xs-12 {
        float: left; }
    body.crumina-grid .col-xs-12 {
        width: 100%; }
    body.crumina-grid .col-xs-11 {
        width: 91.66666667%; }
    body.crumina-grid .col-xs-10 {
        width: 83.33333333%; }
    body.crumina-grid .col-xs-9 {
        width: 75%; }
    body.crumina-grid .col-xs-8 {
        width: 66.66666667%; }
    body.crumina-grid .col-xs-7 {
        width: 58.33333333%; }
    body.crumina-grid .col-xs-6 {
        width: 50%; }
    body.crumina-grid .col-xs-5 {
        width: 41.66666667%; }
    body.crumina-grid .col-xs-4 {
        width: 33.33333333%; }
    body.crumina-grid .col-xs-3 {
        width: 25%; }
    body.crumina-grid .col-xs-2 {
        width: 16.66666667%; }
    body.crumina-grid .col-xs-1 {
        width: 8.33333333%; }
    body.crumina-grid .col-xs-pull-12 {
        right: 100%; }
    body.crumina-grid .col-xs-pull-11 {
        right: 91.66666667%; }
    body.crumina-grid .col-xs-pull-10 {
        right: 83.33333333%; }
    body.crumina-grid .col-xs-pull-9 {
        right: 75%; }
    body.crumina-grid .col-xs-pull-8 {
        right: 66.66666667%; }
    body.crumina-grid .col-xs-pull-7 {
        right: 58.33333333%; }
    body.crumina-grid .col-xs-pull-6 {
        right: 50%; }
    body.crumina-grid .col-xs-pull-5 {
        right: 41.66666667%; }
    body.crumina-grid .col-xs-pull-4 {
        right: 33.33333333%; }
    body.crumina-grid .col-xs-pull-3 {
        right: 25%; }
    body.crumina-grid .col-xs-pull-2 {
        right: 16.66666667%; }
    body.crumina-grid .col-xs-pull-1 {
        right: 8.33333333%; }
    body.crumina-grid .col-xs-pull-0 {
        right: auto; }
    body.crumina-grid .col-xs-push-12 {
        left: 100%; }
    body.crumina-grid .col-xs-push-11 {
        left: 91.66666667%; }
    body.crumina-grid .col-xs-push-10 {
        left: 83.33333333%; }
    body.crumina-grid .col-xs-push-9 {
        left: 75%; }
    body.crumina-grid .col-xs-push-8 {
        left: 66.66666667%; }
    body.crumina-grid .col-xs-push-7 {
        left: 58.33333333%; }
    body.crumina-grid .col-xs-push-6 {
        left: 50%; }
    body.crumina-grid .col-xs-push-5 {
        left: 41.66666667%; }
    body.crumina-grid .col-xs-push-4 {
        left: 33.33333333%; }
    body.crumina-grid .col-xs-push-3 {
        left: 25%; }
    body.crumina-grid .col-xs-push-2 {
        left: 16.66666667%; }
    body.crumina-grid .col-xs-push-1 {
        left: 8.33333333%; }
    body.crumina-grid .col-xs-push-0 {
        left: auto; }
    body.crumina-grid .col-xs-offset-12 {
        margin-left: 100%; }
    body.crumina-grid .col-xs-offset-11 {
        margin-left: 91.66666667%; }
    body.crumina-grid .col-xs-offset-10 {
        margin-left: 83.33333333%; }
    body.crumina-grid .col-xs-offset-9 {
        margin-left: 75%; }
    body.crumina-grid .col-xs-offset-8 {
        margin-left: 66.66666667%; }
    body.crumina-grid .col-xs-offset-7 {
        margin-left: 58.33333333%; }
    body.crumina-grid .col-xs-offset-6 {
        margin-left: 50%; }
    body.crumina-grid .col-xs-offset-5 {
        margin-left: 41.66666667%; }
    body.crumina-grid .col-xs-offset-4 {
        margin-left: 33.33333333%; }
    body.crumina-grid .col-xs-offset-3 {
        margin-left: 25%; }
    body.crumina-grid .col-xs-offset-2 {
        margin-left: 16.66666667%; }
    body.crumina-grid .col-xs-offset-1 {
        margin-left: 8.33333333%; }
    body.crumina-grid .col-xs-offset-0 {
        margin-left: 0; } }

@media (max-width: 768px) {
    body.crumina-grid .kc_column_inner + .kc_column_inner {
        margin-top: 40px; } }

@media (max-width: 768px) {
    body.crumina-grid .kc_column + .kc_column {
        margin-top: 30px; } }

body.crumina-grid .kc_col-of-5 {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }
@media (max-width: 800px) {
    body.crumina-grid .kc_col-of-5 {
        width: 50%; } }
@media (max-width: 570px) {
    body.crumina-grid .kc_col-of-5 {
        width: 100%; } }

@media (max-width: 800px) {
    body.crumina-grid * > .kc_col-of-5:last-child {
        width: 100%; } }

@media (max-width: 799px) {
    body.crumina-grid .col-3-responsive-wrapper .kc_column.col-md-4.col-sm-12 {
        width: 33.3333%; } }

@media (max-width: 600px) {
    body.crumina-grid .col-3-responsive-wrapper .kc_column.col-md-4.col-sm-12 {
        width: 100%; } }

@media (max-width: 768px) {
    body.crumina-grid .col-3-responsive-wrapper .kc_column + .kc_column {
        margin-top: 0; } }

@media (max-width: 600px) {
    body.crumina-grid .col-3-responsive-wrapper .kc_column + .kc_column {
        margin-top: 30px; } }

.table {
    display: table;
    width: 100%; }

.table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none; }

@media (max-width: 640px) {
    .table-cell {
        display: block;
        float: left; } }

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    display: table;
    content: " ";
    width: 100%; }

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }

@media (min-width: 768px) {
    .container {
        width: 710px; } }

@media (min-width: 992px) {
    .container {
        width: 965px; } }

@media (min-width: 1200px) {
    .container {
        width: 1200px; } }

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }

.row {
    margin-right: -15px;
    margin-left: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left; }
    .col-lg-12 {
        width: 100%; }
    .col-lg-11 {
        width: 91.66666667%; }
    .col-lg-10 {
        width: 83.33333333%; }
    .col-lg-9 {
        width: 75%; }
    .col-lg-8 {
        width: 66.66666667%; }
    .col-lg-7 {
        width: 58.33333333%; }
    .col-lg-6 {
        width: 50%; }
    .col-lg-5 {
        width: 41.66666667%; }
    .col-lg-4 {
        width: 33.33333333%; }
    .col-lg-3 {
        width: 25%; }
    .col-lg-2 {
        width: 16.66666667%; }
    .col-lg-1 {
        width: 8.33333333%; }
    .col-lg-pull-12 {
        right: 100%; }
    .col-lg-pull-11 {
        right: 91.66666667%; }
    .col-lg-pull-10 {
        right: 83.33333333%; }
    .col-lg-pull-9 {
        right: 75%; }
    .col-lg-pull-8 {
        right: 66.66666667%; }
    .col-lg-pull-7 {
        right: 58.33333333%; }
    .col-lg-pull-6 {
        right: 50%; }
    .col-lg-pull-5 {
        right: 41.66666667%; }
    .col-lg-pull-4 {
        right: 33.33333333%; }
    .col-lg-pull-3 {
        right: 25%; }
    .col-lg-pull-2 {
        right: 16.66666667%; }
    .col-lg-pull-1 {
        right: 8.33333333%; }
    .col-lg-pull-0 {
        right: auto; }
    .col-lg-push-12 {
        left: 100%; }
    .col-lg-push-11 {
        left: 91.66666667%; }
    .col-lg-push-10 {
        left: 83.33333333%; }
    .col-lg-push-9 {
        left: 75%; }
    .col-lg-push-8 {
        left: 66.66666667%; }
    .col-lg-push-7 {
        left: 58.33333333%; }
    .col-lg-push-6 {
        left: 50%; }
    .col-lg-push-5 {
        left: 41.66666667%; }
    .col-lg-push-4 {
        left: 33.33333333%; }
    .col-lg-push-3 {
        left: 25%; }
    .col-lg-push-2 {
        left: 16.66666667%; }
    .col-lg-push-1 {
        left: 8.33333333%; }
    .col-lg-push-0 {
        left: auto; }
    .col-lg-offset-12 {
        margin-left: 100%; }
    .col-lg-offset-11 {
        margin-left: 91.66666667%; }
    .col-lg-offset-10 {
        margin-left: 83.33333333%; }
    .col-lg-offset-9 {
        margin-left: 75%; }
    .col-lg-offset-8 {
        margin-left: 66.66666667%; }
    .col-lg-offset-7 {
        margin-left: 58.33333333%; }
    .col-lg-offset-6 {
        margin-left: 50%; }
    .col-lg-offset-5 {
        margin-left: 41.66666667%; }
    .col-lg-offset-4 {
        margin-left: 33.33333333%; }
    .col-lg-offset-3 {
        margin-left: 25%; }
    .col-lg-offset-2 {
        margin-left: 16.66666667%; }
    .col-lg-offset-1 {
        margin-left: 8.33333333%; }
    .col-lg-offset-0 {
        margin-left: 0; } }

@media (min-width: 800px) and (max-width: 1199px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left; }
    .col-md-12 {
        width: 100%; }
    .col-md-11 {
        width: 91.66666667%; }
    .col-md-10 {
        width: 83.33333333%; }
    .col-md-9 {
        width: 75%; }
    .col-md-8 {
        width: 66.66666667%; }
    .col-md-7 {
        width: 58.33333333%; }
    .col-md-6 {
        width: 50%; }
    .col-md-5 {
        width: 41.66666667%; }
    .col-md-4 {
        width: 33.33333333%; }
    .col-md-3 {
        width: 25%; }
    .col-md-2 {
        width: 16.66666667%; }
    .col-md-1 {
        width: 8.33333333%; }
    .col-md-pull-12 {
        right: 100%; }
    .col-md-pull-11 {
        right: 91.66666667%; }
    .col-md-pull-10 {
        right: 83.33333333%; }
    .col-md-pull-9 {
        right: 75%; }
    .col-md-pull-8 {
        right: 66.66666667%; }
    .col-md-pull-7 {
        right: 58.33333333%; }
    .col-md-pull-6 {
        right: 50%; }
    .col-md-pull-5 {
        right: 41.66666667%; }
    .col-md-pull-4 {
        right: 33.33333333%; }
    .col-md-pull-3 {
        right: 25%; }
    .col-md-pull-2 {
        right: 16.66666667%; }
    .col-md-pull-1 {
        right: 8.33333333%; }
    .col-md-pull-0 {
        right: auto; }
    .col-md-push-12 {
        left: 100%; }
    .col-md-push-11 {
        left: 91.66666667%; }
    .col-md-push-10 {
        left: 83.33333333%; }
    .col-md-push-9 {
        left: 75%; }
    .col-md-push-8 {
        left: 66.66666667%; }
    .col-md-push-7 {
        left: 58.33333333%; }
    .col-md-push-6 {
        left: 50%; }
    .col-md-push-5 {
        left: 41.66666667%; }
    .col-md-push-4 {
        left: 33.33333333%; }
    .col-md-push-3 {
        left: 25%; }
    .col-md-push-2 {
        left: 16.66666667%; }
    .col-md-push-1 {
        left: 8.33333333%; }
    .col-md-push-0 {
        left: auto; }
    .col-md-offset-12 {
        margin-left: 100%; }
    .col-md-offset-11 {
        margin-left: 91.66666667%; }
    .col-md-offset-10 {
        margin-left: 83.33333333%; }
    .col-md-offset-9 {
        margin-left: 75%; }
    .col-md-offset-8 {
        margin-left: 66.66666667%; }
    .col-md-offset-7 {
        margin-left: 58.33333333%; }
    .col-md-offset-6 {
        margin-left: 50%; }
    .col-md-offset-5 {
        margin-left: 41.66666667%; }
    .col-md-offset-4 {
        margin-left: 33.33333333%; }
    .col-md-offset-3 {
        margin-left: 25%; }
    .col-md-offset-2 {
        margin-left: 16.66666667%; }
    .col-md-offset-1 {
        margin-left: 8.33333333%; }
    .col-md-offset-0 {
        margin-left: 0; } }

.kc-elm.small-section {
    max-width: 750px;
    margin: 0 auto;
    float: none; }

.kc-elm.small-section-f-left {
    max-width: 750px;
    float: left; }

.kc-elm.medium-section {
    max-width: 900px;
    margin: 0 auto;
    float: none; }

.kc-container {
    position: relative;
    z-index: 1; }

.kc_row:not(.kc_row_inner) {
    padding: 120px 0; }
@media (max-width: 800px) {
    .kc_row:not(.kc_row_inner) {
        padding: 60px 0; } }
@media (max-width: 360px) {
    .kc_row:not(.kc_row_inner) {
        padding: 30px 0; } }

.kc_row_inner + .kc_row_inner {
    margin-top: 40px; }
@media (max-width: 640px) {
    .kc_row_inner + .kc_row_inner {
        margin-top: 0; } }

.kc-col-inner-container > .kc-elm {
    margin-bottom: 30px; }
.kc-col-inner-container > .kc-elm:last-child {
    margin-bottom: 0; }
.kc-col-inner-container > .kc-elm p:last-child {
    margin-bottom: 0; }

@media (max-width: 768px) {
    .kc-col-inner-container > .kc-elm.product-description-solution {
        margin-top: 0;
        margin-bottom: 60px; } }

.kc-col-container > .kc-elm + .kc-elm,
.kc-col-container > .kc-elm + kc[data-model],
.kc-col-container > kc[data-model] + .kc-elm,
.kc-col-container > kc[data-model] + kc[data-model] {
    margin-top: 30px; }

.kc-col-container > .kc-elm {
    margin-bottom: 0; }

@media (max-width: 799px) {
    body.kc-css-system .kc_column_inner.col-sm-6:nth-child(2),
    body.kc-css-system .kc_column.col-sm-6:nth-child(2) {
        margin-top: 0; } }

@media (max-width: 640px) {
    body.kc-css-system .kc_column_inner.col-sm-6:nth-child(2),
    body.kc-css-system .kc_column.col-sm-6:nth-child(2) {
        margin-top: 30px; } }

@media (max-width: 570px) {
    body.kc-css-system .kc_column.col-xs-12 {
        width: 100%; } }

@media (max-width: 768px) {
    body.crumina-grid .kc_column_inner + .kc_column_inner.col-sm-12 {
        margin-top: 40px; }
    body.crumina-grid .kc_column_inner + .kc_column_inner.col-sm-6:nth-child(n+3) {
        margin-top: 40px; }
    body.crumina-grid .kc_column_inner + .kc_column_inner.col-sm-6:nth-child(odd) {
        clear: left; }
    body.crumina-grid .kc_column + .kc_column {
        margin-top: 30px; } }

@media (max-width: 768px) {
    body.crumina-grid .kc_column + .kc_column {
        margin-top: 30px; } }

body.crumina-grid .kc_col-of-5 {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }

@media (max-width: 800px) {
    body.crumina-grid .kc_col-of-5 {
        width: 50%; } }

@media (max-width: 570px) {
    body.crumina-grid .kc_col-of-5 {
        width: 100%; } }

@media (max-width: 800px) {
    body.crumina-grid * > .kc_col-of-5:last-child {
        width: 100%; } }

@media (max-width: 799px) {
    body.crumina-grid .col-3-responsive-wrapper .kc_column.col-md-4.col-sm-12 {
        width: 33.3333%; } }

@media (max-width: 600px) {
    body.crumina-grid .col-3-responsive-wrapper .kc_column.col-md-4.col-sm-12 {
        width: 100%; } }

@media (max-width: 768px) {
    body.crumina-grid .col-3-responsive-wrapper .kc_column + .kc_column {
        margin-top: 0; } }

@media (max-width: 600px) {
    body.crumina-grid .col-3-responsive-wrapper .kc_column + .kc_column {
        margin-top: 40px; } }

/*!
 *  @name: kingcomposer.css
 *  @website: https://kingcomposer.com
 *  @Copyright: (c) 2016 King-Theme
*/
/**==========BASE===========**/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.front i, .back i {
    display: inline-block; }

div {
    display: block; }

.kc-elm {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.kc_col-sm-1 {
    width: 8.33333%; }

.kc_col-sm-2 {
    width: 16.6667%; }

div.kc_col-of-5 {
    width: 20%;
    float: left; }

.kc_col-sm-3 {
    width: 25%; }

.kc_col-sm-4 {
    width: 33.3333%; }

.kc_col-sm-5 {
    width: 41.6667%; }

.kc_col-sm-6 {
    width: 50%; }

.kc_col-sm-7 {
    width: 58.3333%; }

.kc_col-sm-8 {
    width: 66.6667%; }

.kc_col-sm-9 {
    width: 75%; }

.kc_col-sm-10 {
    width: 83.3333%; }

.kc_col-sm-11 {
    width: 91.6667%; }

.kc_col-sm-12 {
    width: 100%; }

.kc-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.kc-row-container:not(.kc-container) {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    max-width: 100%; }

.kc_column {
    position: relative; }

.kc-infinite-loop {
    text-align: center;
    padding: 50px;
    font-size: 18px;
    color: red;
    width: 100%;
    display: inline-block; }

.kc_row:not(.kc_row_inner) {
    clear: both;
    float: left;
    width: 100%; }

.kc_wrap-video-bg {
    height: 100%;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0; }

.kc_row_inner, .kc-row-container.kc-container .kc-wrap-columns {
    margin-left: -15px;
    margin-right: -15px;
    clear: both; }

.kc_row.kc_row_inner {
    width: calc(100% + 30px); }

.kc_tab_content > .kc_row_inner {
    width: 100%;
    margin: 0px; }

.kc_column, .kc_column_inner {
    min-height: 1px;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    float: left; }

.kc_column > .kc-col-container, .kc_column_inner > .kc-col-inner-container {
    height: 100%; }

.kingcomposer div.kc_column_inner, .kingcomposer div.kc_column {
    clear: none; }

.kc_row_inner > div.kc_column_inner:only-child {
    width: 100%; }

.kc_clfw {
    width: 100% !important;
    clear: both !important;
    display: block !important;
    height: 0px !important;
    padding: 0px !important;
    margin: 0px !important; }

.kc-col-container {
    clear: both;
    display: inline-block;
    width: 100%; }

section[data-kc-fullheight] {
    min-height: 100vh; }

html body section[data-kc-parallax="true"] {
    background-position: 50% 0px;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important; }

section[data-kc-fullwidth] {
    margin-left: 0px !important;
    margin-right: 0px !important;
    position: relative;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }

body section[data-kc-equalheight="true"], body section[data-kc-equalheight="true"] > .kc-container, body section[data-kc-equalheight="true"] > .kc-container .kc-wrap-columns {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    width: 100%; }

body div.kc_row_inner[data-kc-equalheight="true"] {
    width: calc(100% + 30px);
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

body section[data-kc-equalheight-align="middle"] > .kc-row-container > .kc-wrap-columns > .kc_column > .kc-col-container,
body section[data-kc-equalheight-align="middle"] > .kc-container > .kc-wrap-columns > .kc_column > .kc-col-container,
body section[data-kc-equalheight-align="bottom"] > .kc-container > .kc-wrap-columns > .kc_column > .kc-col-container,
body div[data-kc-equalheight-align="middle"] > .kc_column_inner > .kc_wrapper,
body div[data-kc-equalheight-align="bottom"] > .kc_column_inner > .kc_wrapper {
    display: -ms-flexbox !important;
    display: -webkit-box !important;
    display: flex !important;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    width: 100%; }

body div.kc_row_inner[data-kc-equalheight="true"] > .kc_column_inner > .kc_wrapper.kc_row_inner {
    height: 100%; }

body section[data-kc-equalheight-align="middle"] > .kc-row-container > .kc-wrap-columns > .kc_column > .kc-col-container, body section[data-kc-equalheight-align="middle"] > .kc-container > .kc-wrap-columns > .kc_column > .kc-col-container, body div[data-kc-equalheight-align="middle"] > .kc_column_inner > .kc_wrapper {
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

body section[data-kc-equalheight-align="bottom"] > .kc-row-container > .kc-wrap-columns > .kc_column > .kc-col-container, body section[data-kc-equalheight-align="bottom"] > .kc-container > .kc-wrap-columns > .kc_column > .kc-col-container, body div[data-kc-equalheight-align="bottom"] > .kc_column_inner > .kc_wrapper {
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }

body section[data-kc-fullheight="middle-content"], body section[data-kc-fullheight="middle-content"] > .kc-row-container, body section[data-kc-fullheight="middle-content"] > .kc-container {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }

body section[data-kc-equalheight="true"] > .kc-container .kc-wrap-columns {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: initial;
    margin-right: initial; }

.kc-off-notice {
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: #e9e385;
    color: #333;
    font-size: 14px; }

.kc-off-notice a {
    text-transform: capitalize;
    text-decoration: underline; }

@media screen and (min-width: 999px) {
    .kc_row_inner, .kc-row-container .kc-wrap-columns {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .kc_row_inner, .kc-row-container.kc-container .kc-wrap-columns {
        width: calc(100% + 30px); } }

@media screen and (max-width: 767px) {
    body.kc-css-system .kc_column, body.kc-css-system .kc_column_inner {
        width: 100%; }
    div.kc_row {
        display: block; } }
